* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background: #282c34;
    /* 让盒子进行flex布局，并且居中显示 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 去除圆点 */
.tab_contents ul {
    list-style: none;
}
.tab_contents {
    width: 700px;
    height: 200px;
    /*background: white;*/
}
.tab_contents .tab_nav {
    display: flex;
}
.tab_contents .tab_nav li{
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #e5e9ea;
    margin-right: 2px;
    color: #607291;
    cursor: pointer;
    display: flex;
    position: relative;
    overflow: hidden;
}
/*.tab_contents .tab_nav li img {*/
/*    width: 20px;*/
/*    margin-right: 5px;*/
/*    opacity: 0.3;*/
/*    transition: opacity 0.3s;*/
/*}*/
.tab_contents .tab_nav li h2 {
    font-size: 14px;
}
.tab_contents .tab_nav li:hover img {
    opacity: 1 !important;
}
.tab_contents .tab_nav_active {
    background: #f9f9f9 !important;
}

.tab_contents .tab_box {
    position: relative;
    min-height: 150px;
    background: #f9f9f9;
    padding: 2em;
    color: #607291;
    box-shadow: 2px 2px 2px #5c5c5c;
}
.tab_contents .tab_box li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    /*display: none;无法展现动画*/
    display: flex !important;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in;

}
.tab_contents .tab_box_active{
    display: flex !important;
    visibility: visible !important;
    opacity: 1 !important;
}